﻿@model AAS.Models.AdvisedSubjectViewModel

<form action="/advisedsubjects/save" id="modal-form" method="post">
    <input type="hidden" class="alternative-subject-reference-id" name="AlternativeSubjectReferenceId" value="@Model.Id">
    <input type="hidden" name="AlternativeSubjectEnrollmentId" value="@Model.EnrollmentId">
    <input type="hidden" name="AlternativeSubjectStudentId" value="@Model.StudentId">
    <input type="hidden" id="AlternativeSubjectCurriculumItemId" name="AlternativeSubjectCurriculumItemId" value="@Model.StudentId">
    <input type="hidden" id="AlternativeSubjectSection" name="AlternativeSubjectSection" value="@Model.StudentId">
</form>

<table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline alternative-subjects-table" role="grid">
    <thead>
        <tr role="row">
            <th></th>
            <th></th>
            <th></th>
            <th>Subject Code</th>
            <th>Subject and Schedule</th>
            <th>Year, Course and Section</th>
            <th>Units</th>
            <th>Pre-requisites</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>