﻿@model AAS.Models.CurriculumItemViewModel

@using AAS.Models;

<form id="modal-form" action="/subjects/create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Subjects, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.SubjectId, Model.Subjects, string.Empty, htmlAttributes: new { @class = "form-control select2-subjects" })
                    @Html.ValidationMessageFor(model => model.SubjectId, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PreRequisite, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.PreRequisiteIds, Model.PreRequisite, string.Empty, htmlAttributes: new { @class = "form-control select2-prerequisites", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.PreRequisiteIds, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Year, new { @class = "form-control select2-general" })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Semester, new { @class = "form-control select2-general" })
                    @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Courses, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.CourseId, Model.Courses, string.Empty, htmlAttributes: new { @class = "form-control select2-courses" })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurriculumVersions, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.CurriculumVersionId, Model.CurriculumVersions, string.Empty, htmlAttributes: new { @class = "form-control select2-curriculumversions" })
                    @Html.ValidationMessageFor(model => model.CurriculumVersionId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Advisers, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.AdviserId, Model.Advisers, string.Empty, htmlAttributes: new { @class = "form-control select2-advisers" })
                    @Html.ValidationMessageFor(model => model.AdviserId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="schedule-repeater">
            <div data-repeater-list="Schedules" class="schedule-repeater-container">
                @*<div data-repeater-item class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Schedule.DayOfWeek, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Schedule.DayOfWeek, new { @class = "form-control schedule-selectpicker" })
                    @Html.ValidationMessageFor(model => model.Schedule.DayOfWeek, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Schedule.StartTime, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Schedule.StartTime, new { htmlAttributes = new { @class = "form-control schedule-timepicker" } })
                    @Html.ValidationMessageFor(model => model.Schedule.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Schedule.EndTime, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Schedule.EndTime, new { htmlAttributes = new { @class = "form-control schedule-timepicker" } })
                    @Html.ValidationMessageFor(model => model.Schedule.EndTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div data-repeater-delete="" class="btn-sm btn btn-danger btn-pill" style="margin-top: 35px;">
                        <span>
                            <i class="la la-trash-o"></i>
                            <span>Delete</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@

                @if (Model.Schedules.Any())
                {
                    <input type="hidden" class="repeater-is-empty" value="0">

                    var scheduleSections = Model.Schedules.Select(x => x.Section).Distinct();

                    foreach (var section in scheduleSections)
                    {
                        if (section != 0)
                        {
                            <label class="control-label"><u>Section @(section.ToString())</u></label>
                            <br />
                        }

                        <br />

                        foreach (var item in Model.Schedules.Where(x => x.Section == section))
                        {
                            Html.RenderPartial("ScheduleForm", item);
                        }

                    }

                }
                else
                {
                    <input type="hidden" class="repeater-is-empty" value="1">

                    Html.RenderPartial("ScheduleForm", new ScheduleViewModel { CurriculumItemId = Model.Id, Rooms = Model.Rooms });
                }

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div data-repeater-create class="btn btn-sm btn-primary add-schedule-button" style="cursor: pointer;">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Add schedule</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
