﻿@model AAS.Models.ScheduleViewModel

<div data-repeater-item class="row">
    @Html.HiddenFor(model => model.ScheduleId)
    @Html.HiddenFor(model => model.CurriculumItemId)
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.DayOfWeek, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.DayOfWeek, new { @class = "form-control schedule-selectpicker" })
            @Html.ValidationMessageFor(model => model.DayOfWeek, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control schedule-timepicker" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control schedule-timepicker" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.Section, new { @class = "form-control schedule-selectpicker" })
            @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.Rooms, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.RoomId, Model.Rooms, string.Empty, htmlAttributes: new { @class = "form-control select2-rooms", @data_live_search = "true", @data_size = "5" })
            @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <div data-repeater-delete="" class="btn-sm btn btn-danger btn-pill" style="margin-top: 35px; cursor: pointer;">
                <span>
                    <i class="la la-trash-o"></i>
                    <span>Delete</span>
                </span>
            </div>
        </div>
    </div>
</div>