﻿@model AAS.Models.AdviserViewModel

Are you sure you want to delete <span class="text-danger">@Model.FullName</span>?

<form id="modal-form" action="/advisers/delete" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
</form>
