﻿@model AAS.Models.CourseViewModel

Are you sure you want to delete <span class="text-danger">@Model.Name</span>?

<form id="modal-form" action="/subjects/delete" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
</form>