﻿@model AAS.Models.AdvisedSubjectViewModel


<form id="modal-form" action="/advisedsubjects/create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.EnrollmentId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EnrollmentId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnrollmentId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurriculumItemId, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CurriculumItemId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurriculumItemId, "", new { @class = "text-danger" })
        </div>
    </div>
</form>