﻿/*body {
    transform: scale(1.25);
    transform-origin: 0 0;
    overflow-x: hidden;
}*/

/*.btn.btn-icon.btn-sm, .btn-group-sm > .btn.btn-icon {
    width: auto;
    font-size: 1em;
    padding: 0 10px 0 10px;
}*/

/*@font-face {
    font-family: 'Acumin Pro';
    src: url('/fonts/Acumin-Pro-Semibold.ttf');
    src: local('☺'), url('/fonts/Acumin-Pro-Semibold.ttf') format('opentype');
    font-weight: 500;
}*/

/*@font-face {
    font-family: 'Acumin Pro';
    src: url('/fonts/Acumin-Pro-Medium.ttf');
    src: local('☺'), url('/fonts/Acumin-Pro-Medium.ttf') format('opentype');
    font-weight: 300;
}*/

@font-face {
    font-family: 'Acumin Pro';
    src: url('/fonts/Acumin-Pro-Book.ttf');
    src: local('☺'), url('/fonts/Acumin-Pro-Book.ttf') format('truetype');
    font-weight: normal;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.kt-notification__item-override::after {
    content: "" !important;
}

.show > .btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
    color: #9c9fad;
}

.table-actions {
    min-width: 40px !important;
    max-width: 40px !important;
    width: 40px !important;
}

.table-hidden-column {
    display: none !important;
}

table.dataTable tr.dtrg-group td {
    background-color: #e0e0e024;
}

.td-center {
    text-align: center;
}

.kt-header__brand .kt-header__brand-nav {
    margin: 0 0 0 2.5rem;
}

.kt-widget12 .kt-widget12__content .kt-widget12__item .kt-widget12__info .kt-widget12__value {
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .kt-header-mobile--fixed .kt-wrapper {
        padding-top: 0;
    }
}

@media (max-width: 1024px) {
    .kt-header-menu-wrapper-close {
        background-color: #ffffff;
    }
}

tr.highlight, tr.highlight:hover {
    background-color: #dad8d8c7 !important;
}

tr.passed-highlight, tr.passed-highlight:hover {
    background-color: #dad8d84a !important
}

tr.soft-highlight, tr.soft-highlight:hover {
    background-color: #c0ffc487 !important;
}

tr.danger-highlight, tr.danger-highlight:hover {
    background-color: #ffcec3c7 !important;
}

.kt-widget12 .kt-widget12__content .kt-widget12__item {
    margin-bottom: 1.5rem;
}

.advisement-info-icon {
    height: 80px;
    width: 80px;
}

.dataTables_wrapper .dataTable .highlight td {
    /*color: #fff;*/
}

.kt-checkbox.kt-checkbox--solid > input:checked ~ span {
    background: #7b7b7b;
}

.kt-checkbox.kt-checkbox--solid > span:after {
    border: solid #ffffff;
}

.bootstrap-select > .dropdown-toggle:after {
    font-size: 1rem;
    font-family: "LineAwesome";
    content: "\f110";
}

.dropup .nav-link.dropdown-toggle:after, .dropup .btn.dropdown-toggle:after {
    font-size: 1rem;
    font-family: "LineAwesome";
    content: "\f110";
}

.bs-searchbox .form-control {
    height: 2.2rem;
    padding: 0.65rem 0.35rem;
}

.bootstrap-select .dropdown-menu.inner > li > a {
    padding: 5px 15px;
}

.bootstrap-select .dropdown-menu {
    padding: 0.5rem 0;
}

.modal-open {
    overflow-y: hidden !important;
}

.modal-lg {
    max-width: 1000px;
}

.kt-header__brand-logo img {
    height: 65px;
}

.kt-header--minimize .kt-header__brand-logo img {
    height: 45px;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-welcome {
    font-size: 1rem;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-username {
    color: #707183;
}