﻿@model AAS.Models.EnrollmentViewModel

<form id="modal-form" action="/enrollmenthistory/create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.EnrollmentStatus, new { Value = 1 })
        @Html.HiddenFor(model => model.AdmissionStatus, new { Value = 1 })
        @*@Html.HiddenFor(model => model.Year)*@

        <div class="form-group">
            @Html.LabelFor(model => model.AcademicTerms, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.AcademicTermId, Model.AcademicTerms, string.Empty, htmlAttributes: new { @class = "form-control select2-academicterms" })
            @Html.ValidationMessageFor(model => model.AcademicTermId, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.AdmissionStatus, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.AdmissionStatus, new { @class = "form-control select2-general" })
            @Html.ValidationMessageFor(model => model.AdmissionStatus, "", new { @class = "text-danger" })
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.Year, new { @class = "form-control select2-general" })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.Section, new { @class = "form-control select2-general" })
            @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcademicStanding, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.AcademicStanding, new { @class = "form-control select2-academic-standing" })
            @Html.ValidationMessageFor(model => model.AcademicStanding, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.EnrollmentStatus, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.EnrollmentStatus, new { @class = "form-control select2-general" })
            @Html.ValidationMessageFor(model => model.EnrollmentStatus, "", new { @class = "text-danger" })
        </div>*@

        @if (ViewBag.CurrentUserRole == "Adviser")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Adviser, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.AdviserId, Model.Advisers, string.Empty, htmlAttributes: new { @class = "form-control select2-general" })
                @Html.ValidationMessageFor(model => model.AdviserId, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Adviser, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.AdviserId, Model.Advisers, string.Empty, htmlAttributes: new { @class = "form-control select2-advisers" })
                @Html.ValidationMessageFor(model => model.AdviserId, "", new { @class = "text-danger" })
            </div>
        }

    </div>
</form>