﻿@model AAS.Models.SubjectViewModel

Are you sure you want to delete <span class="text-danger">@Model.DescriptiveTitle</span>?

<form id="modal-form" action="/subjects/delete" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
</form>