﻿@model AAS.Models.SubjectViewModel

<form id="modal-form" action="/subjects/create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectCode, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SubjectCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SubjectCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptiveTitle, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.DescriptiveTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescriptiveTitle, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Units, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Units, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Units, "", new { @class = "text-danger" })
        </div>
    </div>
</form>