﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div style="background-image: url(../../assets/AAS.jpg); background-size: 100% auto; background-repeat: no-repeat; width: 100%; height: 745px;"></div>
        @*<img src="http://mis.usm.edu.ph/studentportal/Images/portal.jpg" />*@
    </div>
</div>

@section scripts {
    <script src="~/scripts/app/common.js"></script>
    <script src="~/scripts/app/home-index.js"></script>
}