﻿
@{
    ViewBag.Title = "Index";
}

<!--begin:: Widgets/Top Products-->
<div class="kt-portlet kt-portlet--head-noborder kt-portlet--height-fluid ">
    <!--full height portlet body-->

    <div class="kt-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" role="grid">
            <thead>
                <tr role="row">
                    <th class="table-hidden-column"></th>
                    <th class="table-actions" style="min-width: 40px; max-width: 40px; width: 40px;"></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Adviser For</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--end:: Widgets/Top Products-->

@{ Html.RenderPartial("_Modals"); }

@section subheader {
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            Dashboard
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="_" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
                Advisers
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
                List
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>
}

@section styles {
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/scripts/app/common.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/scripts/app/advisers-index.js?v=@(DateTime.Now.Ticks)"></script>
}