﻿@model AAS.Models.StudentRecordViewModel


<form id="modal-form" action="/studentrecords/create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.Grade.GradeId)
        @Html.HiddenFor(model => model.CurriculumItemId)
        @Html.HiddenFor(model => model.EnrollmentId)

        <div class="form-group">
            @Html.LabelFor(model => model.CurriculumItems, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.CurriculumItemId, Model.CurriculumItems, string.Empty, htmlAttributes: new { @class = "form-control select2-curriculumitems", @Disabled = true })
            @Html.ValidationMessageFor(model => model.CurriculumItemId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade.Midterm, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Grade.Midterm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Grade.Midterm, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Grade.Final, htmlAttributes: new { @class = "control-label" })
            @*@Html.EditorFor(model => model.Grade.Final, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.EnumDropDownListFor(model => model.Grade.Final, new { @class = "form-control select2-final-grade" })
            @Html.ValidationMessageFor(model => model.Grade.Final, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Grade.Final, htmlAttributes: new { @class = "control-label" })
            <select class="form-control select2-general" name="Grade.Final">
                <option></option>
                <option value="1">1</option>
                <option value="1.25">1.25</option>
                <option value="1.5">1.5</option>
                <option value="1.75">1.75</option>
                <option value="2">2</option>
                <option value="2.25">2.25</option>
                <option value="2.5">2.5</option>
                <option value="2.75">2.75</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            @Html.ValidationMessageFor(model => model.Grade.Final, "", new { @class = "text-danger" })
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Grade.ReExam, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Grade.ReExam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Grade.ReExam, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade.Status, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.Grade.Status, new { @class = "form-control select2-grade-status" })
            @Html.ValidationMessageFor(model => model.Grade.Status, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnrolledAcademicTerms, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.EnrollmentId, Model.EnrolledAcademicTerms, string.Empty, htmlAttributes: new { @class = "form-control select2-enrollmenthistory", @Disabled = true })
            @Html.ValidationMessageFor(model => model.EnrollmentId, "", new { @class = "text-danger" })
        </div>
    </div>
</form>