﻿@model AAS.Models.EnrollmentViewModel
@using AAS.Helpers;
@using System.ComponentModel.DataAnnotations;

@* hidden input for allowed units *@

@if (Model != null && Model.Id > 0 && Model.AdmissionStatus == AAS.Enums.AdmissionStatus.ForAdvisement && Model.EnrollmentStatus == AAS.Enums.EnrollmentStatus.Active)
{
    <input type="hidden" id="allowed-units" value="@(Model.AdvisedSubjectInfo?.AllowedUnits)" />
    <input type="hidden" id="load-status" value="@(Model.AdvisedSubjectInfo?.LoadStatus)" />

    <div class="kt-widget12">
        <div class="kt-widget12__content">
            <div class="advisement-tab-details">
                <input type="hidden" id="academic-standing" value="@(Model.AcademicStanding?.ToString())" />
                <div class="kt-widget12__item">
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Adviser</span>
                        <span class="kt-widget12__value">@(Model.Adviser?.FullName)&nbsp;</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Year and Section</span>
                        <span class="kt-widget12__value">@(Model.Year?.GetAttribute<DisplayAttribute>().Name), Section @(Model.Section)&nbsp;</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Academic Term</span>
                        <span class="kt-widget12__value">@(Model.AcademicTerm?.FullName)&nbsp;</span>
                    </div>                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Academic Standing</span>
                        <span class="kt-widget12__value">@(Model.AcademicStanding?.ToString())&nbsp;</span>
                    </div>
                </div>
                <div class="kt-widget12__item">
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Load Status</span>
                        <span class="kt-widget12__value">@(Model.AdvisedSubjectInfo?.LoadStatus)&nbsp;</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">Maximum Allowed Units</span>
                        <span class="kt-widget12__value">@(Model.AdvisedSubjectInfo?.AllowedUnits)&nbsp;</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">&nbsp;</span>
                        <span class="kt-widget12__value">&nbsp;</span>
                    </div>
                    <div class="kt-widget12__info">
                        <span class="kt-widget12__desc">&nbsp;</span>
                        <span class="kt-widget12__value">&nbsp;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div style="text-align: right">
                            <a data-controller="enrollmenthistory" href="_" data-toggle="modal" data-target="#app-modal" class="btn btn-sm btn-brand btn-elevate btn-icon-sm edit-button" data-action="edit" data-id="@Model.Id">
                                <i class="la la-edit"></i>
                                Edit Advisement Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="alert alert-info fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                <div class="alert-text">
                    To add subjects on this table, just check the checkbox on the left side of the subjects in the prospectus table and click "Add to advised subjects" button at the bottom of the prospectus table.
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
            <form id="advised-subjects-table-form" action="/studentrecord/finalizeadvisement" method="post">
                <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline advised-subjects-table" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="table-hidden-column"></th>
                            <th class="table-actions" style="min-width: 40px; max-width: 40px; width: 40px;"></th>
                            <th class="table-actions" style="min-width: 40px; max-width: 40px; width: 40px;"></th>
                            <th>Subject Code</th>
                            <th>Subject and Schedule</th>
                            <th>Year, Course and Section</th>
                            <th>Units</th>
                            <th>Pre-requisites</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div style="text-align: right;">
                <a href="#" class="btn btn-sm btn-danger btn-elevate btn-icon-sm" id="delete-advised-subjects" style="display: none;">
                    <i class="la la-minus"></i>
                    Remove subjects
                </a>
                <a href="#" class="btn btn-sm btn-success btn-elevate btn-icon-sm" id="finalize-advised-subjects" data-action="finalize">
                    <i class="la la-check-circle-o"></i>
                    Finalize advisement
                </a>
                <a href="/document/generatetrialprogrampdf/@Model.StudentId" target="_blank" class="btn btn-sm btn-brand btn-elevate btn-icon-sm" id="print-advised-subjects">
                    <i class="la la-file-pdf-o"></i>
                    Generate PDF
                </a>
            </div>
        </div>

        @*<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample5">
                <div class="card">
                    <div class="card-header" id="headingOne6">
                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5">
                            <i class="flaticon-pie-chart-1"></i> Advised Subjects
                        </div>
                    </div>
                    <div id="collapseOne5" class="collapse show" aria-labelledby="headingOne6" data-parent="#accordionExample5" style="">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>*@
        <br />
        <br />
        <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
            <div class="card">
                <div class="card-header" id="headingOne6">
                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne6" aria-expanded="true" aria-controls="collapseOne6">
                        <i class="flaticon-pie-chart-1"></i> Prospectus
                    </div>
                </div>
                <div id="collapseOne6" class="collapse show" aria-labelledby="headingOne6" data-parent="#accordionExample6" style="">
                    <div class="card-body">
                        <div class="alert alert-info fade show" role="alert">
                            <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                            <div class="alert-text">
                                Subjects in gray are not available, either because they are already passed or their pre-requisite subjects are not yet passed. Just hover on the subject and you will see the details.
                            </div>
                            <div class="alert-close">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="la la-close"></i></span>
                                </button>
                            </div>
                        </div>
                        <div style="text-align: right;">
                            <a href="#" class="btn btn-sm btn-brand btn-elevate btn-icon-sm add-button" id="add-advised-subjects">
                                <i class="la la-plus"></i>
                                Add to advised subjects
                            </a>
                        </div>
                        <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline prospectus-table" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="table-hidden-column"></th>
                                    <th class="table-hidden-column"></th>
                                    <th class="table-hidden-column"></th>
                                    <th class="table-actions" style="min-width: 40px; max-width: 40px; width: 40px;"></th>
                                    <th>Subject Code</th>
                                    <th>Descriptive Title</th>
                                    <th>Units</th>
                                    <th>Pre-requisites</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: right;">
                            <a href="#" class="btn btn-sm btn-brand btn-elevate btn-icon-sm add-button" id="add-advised-subjects">
                                <i class="la la-plus"></i>
                                Add to advised subjects
                            </a>
                        </div>
                        <form id="add-advised-subjects-form" action="/advisedsubjects/create" method="post">
                            @Html.HiddenFor(model => model.StudentId)
                            <input type="hidden" name="EnrollmentId" value="@Model.Id">
                            <input type="hidden" name="PreferredSection" value="@Model.Section">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model != null && Model.AdmissionStatus == AAS.Enums.AdmissionStatus.AdvisementCompleted && Model.EnrollmentStatus == AAS.Enums.EnrollmentStatus.Active)
{
    <div class="kt-widget7 kt-widget7--skin-light">
        <div class="kt-widget7__desc" style="color: #000">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon advisement-info-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                    <rect id="Rectangle-9" fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                    <rect id="Rectangle-9-Copy" fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                </g>
            </svg>
        </div>
        <div class="kt-widget7__content">
            Advisement is already completed. Outstanding subjects can be viewed on the Outstanding Subjects tab.
        </div>
    </div>
}
else
{
    <div class="kt-widget7 kt-widget7--skin-light">
        <div class="kt-widget7__desc" style="color: #000">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon advisement-info-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                    <rect id="Rectangle-9" fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                    <rect id="Rectangle-9-Copy" fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                </g>
            </svg>
        </div>
        <div class="kt-widget7__content">
            No active advisement found. Create one?
        </div>
        <div class="kt-widget7__button">
            <a href="#" class="btn btn-sm btn-primary btn-elevate btn-icon-sm add-button" data-toggle="modal" data-target="#app-modal" data-action="add" data-controller="enrollmenthistory">
                <i class="la la-plus"></i>
                Create New
            </a>
        </div>
    </div>
}