﻿@model AAS.Models.EnrollmentViewModel

@using AAS.Helpers;
@using System.ComponentModel.DataAnnotations;

<input type="hidden" id="academic-standing" value="@(Model.AcademicStanding?.ToString())" />
<div class="kt-widget12__item">
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">Adviser</span>
        <span class="kt-widget12__value">@(Model.Adviser?.FullName)&nbsp;</span>
    </div>
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">Year and Section</span>
        <span class="kt-widget12__value">@(Model.Year?.GetAttribute<DisplayAttribute>().Name), Section @(Model.Section)&nbsp;</span>
    </div>
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">Academic Term</span>
        <span class="kt-widget12__value">@(Model.AcademicTerm?.FullName)&nbsp;</span>
    </div>                    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">Academic Standing</span>
        <span class="kt-widget12__value">@(Model.AcademicStanding?.ToString())&nbsp;</span>
    </div>
</div>
<div class="kt-widget12__item">
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">Load Status</span>
        <span class="kt-widget12__value">@(Model.AdvisedSubjectInfo?.LoadStatus)&nbsp;</span>
    </div>
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">Maximum Allowed Units</span>
        <span class="kt-widget12__value">@(Model.AdvisedSubjectInfo?.AllowedUnits)&nbsp;</span>
    </div>
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">&nbsp;</span>
        <span class="kt-widget12__value">&nbsp;</span>
    </div>
    <div class="kt-widget12__info">
        <span class="kt-widget12__desc">&nbsp;</span>
        <span class="kt-widget12__value">&nbsp;</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="text-align: right">
            <a data-controller="enrollmenthistory" href="_" data-toggle="modal" data-target="#app-modal" class="btn btn-sm btn-brand btn-elevate btn-icon-sm edit-button" data-action="edit" data-id="@Model.Id">
                <i class="la la-edit"></i>
                Edit Advisement Details
            </a>
        </div>
    </div>
</div>