﻿@model AAS.Models.AdvisementViewModel
@using AAS.Helpers;
@using System.ComponentModel.DataAnnotations;
@using AAS.Models;

@{
    ViewBag.Title = "Advisement";
    EnrollmentViewModel currentEnrollment = Model.Student.Enrollments.FirstOrDefault(x => x.EnrollmentStatus == AAS.Enums.EnrollmentStatus.Active) ?? new EnrollmentViewModel();
    currentEnrollment.AdvisedSubjectInfo = Model.AdvisedSubjectInfo;
    var currentUserRole = ViewBag.CurrentUserRole;
}

<input type="hidden" id="current-user-role" value="@Model.IndexPageViewModel.CurrentUserRole" />

<div class="row">
    <div class="col-sm-3">
        <div class="kt-portlet kt-portlet--head-noborder kt-portlet--height-fluid ">
            <div class="kt-portlet__body">
                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-color: #f3f3f394; margin-top: 15px;">
                    <div class="kt-user-card__avatar">
                        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success" style="background-color: rgba(132, 132, 132, 0.1)">@Model.Student.FullName.Substring(0, 1)</span>
                    </div>
                    <div class="kt-user-card__name" style="color: #000">
                        @Model.Student.FullName
                        @Html.HiddenFor(model => model.Student.Id)
                    </div>
                </div>
                <div class="kt-notification">
                    <a href="javascript:;" class="kt-notification__item kt-notification__item-override">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon-profile-1 kt-font-success"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                ID Number
                            </div>
                            <div class="kt-notification__item-time">
                                @Model.Student.IDNumber
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="kt-notification__item kt-notification__item-override">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-mail kt-font-warning"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Email Address
                            </div>
                            <div class="kt-notification__item-time">
                                @Model.Student.User.Email
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="kt-notification__item kt-notification__item-override">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-phone kt-font-danger"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Contact Number
                            </div>
                            <div class="kt-notification__item-time">
                                @Model.Student.ContactNumber
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="kt-notification__item kt-notification__item-override">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-hourglass kt-font-brand"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Course
                            </div>
                            <div class="kt-notification__item-time">
                                @Model.Student.Course.Name
                            </div>
                        </div>
                    </a>
                </div>
                @*<a href="#" class="btn btn-sm btn-primary btn-elevate btn-icon-sm add-button" data-toggle="modal" data-id="@Model.Student.Id" data-target="#app-modal" data-action="edit" data-controller="students">
                        <i class="la la-edit"></i>
                        Edit student
                    </a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Student Information
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_widget3_tab1_content" role="tab" aria-selected="true">
                                Evaluation
                            </a>
                        </li>
                        @if (currentUserRole != "Student")
                        {
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_widget3_tab2_content" role="tab" aria-selected="false">
                                    Outstanding Subjects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_widget3_tab3_content" role="tab" aria-selected="false">
                                    Advisement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_widget3_tab4_content" role="tab" aria-selected="false">
                                    Enrollment History
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_widget3_tab1_content">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline student-record-table" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="table-hidden-column"></th>
                                    <th class="table-actions" style="min-width: 40px; max-width: 40px; width: 40px;"></th>
                                    <th>Subject Code</th>
                                    <th>Descriptive Title</th>
                                    <th>Pre-requisites</th>
                                    <th>Grade</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        @if (currentUserRole != "Student")
                        {
                            <div class="pull-right">
                                <a href="#" class="btn btn-sm btn-brand btn-elevate btn-icon-sm add-button" data-toggle="modal" data-target="#app-modal" data-action="add">
                                    <i class="la la-plus"></i>
                                    New Record
                                </a>
                            </div>
                        }
                    </div>

                    @if (currentUserRole != "Student")
                    {
                        <div class="tab-pane" id="kt_widget3_tab2_content">
                            <!-- for advisement -->
                            <div class="outstanding-subjects-tab-content">
                                @{ Html.RenderPartial("OutstandingSubjectsTab", Model.OutstandingStudentRecords); }
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_widget3_tab3_content">
                            <div class="advisement-tab-contents">
                                @{ Html.RenderPartial("AdvisementTab", currentEnrollment); }
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_widget3_tab4_content">
                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline enrollment-history-table" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th></th>
                                        <th>Academic Term</th>
                                        <th>Year</th>
                                        <th>Academic Standing</th>
                                        <th>Admission Status</th>
                                        <th>Enrollment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_Modals"); }

@section subheader {

    @if (currentUserRole != "Student")
    {
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Dashboard
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="_" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Student
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Advisement
                </a>

                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    }
}

@section styles {
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/scripts/app/common.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/scripts/app/students-advisement.js?v=@(DateTime.Now.Ticks)"></script>
}