﻿@model AAS.Models.StudentViewModel

Are you sure you want to delete <span class="text-danger">@Model.FullName</span>?

<form id="modal-form" action="/subjects/delete" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)
</form>
