﻿@model IEnumerable<AAS.Models.StudentRecordViewModel>

@if (Model.Where(x => !x.Grade.Final.HasValue).Count() > 0)
{
    <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline outstanding-subjects-table" role="grid">
        <thead>
            <tr role="row">
                <th></th>
                <th class="table-actions" style="min-width: 40px; max-width: 40px; width: 40px;"></th>
                <th>Subject Code</th>
                <th>Descriptive Title</th>
                <th>Pre-requisites</th>
                <th>Grade</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="kt-widget7 kt-widget7--skin-light">
        <div class="kt-widget7__desc" style="color: #000">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon advisement-info-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                    <rect id="Rectangle-9" fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                    <rect id="Rectangle-9-Copy" fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                </g>
            </svg>
        </div>
        <div class="kt-widget7__content">
            No outstanding subjects found. Please proceed to the advisement tab and select subjects for advisement.
        </div>
    </div>
}