﻿@model string

@switch (Model)
{
    case "Adviser":
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
            <ul class="kt-menu__nav ">
                <li id="dashboard" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/" class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></a>
                </li>
                <li id="students" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/students" class="kt-menu__link"><span class="kt-menu__link-text">Students</span></a>
                </li>
            </ul>
        </div>
        break;
    case "Registrar":
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
            <ul class="kt-menu__nav ">
                <li id="dashboard" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/" class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></a>
                </li>
                <li id="students" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/students" class="kt-menu__link"><span class="kt-menu__link-text">Students</span></a>
                </li>
                <li id="subjects" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/subjects" class="kt-menu__link"><span class="kt-menu__link-text">Subjects</span></a>
                </li>
                <li id="courses" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/courses" class="kt-menu__link"><span class="kt-menu__link-text">Courses</span></a>
                </li>
                <li id="advisers" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/advisers" class="kt-menu__link"><span class="kt-menu__link-text">Advisers</span></a>
                </li>
                <li id="curriculum" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/curriculumitems" class="kt-menu__link"><span class="kt-menu__link-text">Curriculum</span></a>
                </li>
            </ul>
        </div>
        break;
    case "Admin":
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
            <ul class="kt-menu__nav ">
                <li id="dashboard" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/" class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></a>
                </li>
                <li id="students" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/students" class="kt-menu__link"><span class="kt-menu__link-text">Students</span></a>
                </li>
                <li id="subjects" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/subjects" class="kt-menu__link"><span class="kt-menu__link-text">Subjects</span></a>
                </li>
                <li id="courses" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/courses" class="kt-menu__link"><span class="kt-menu__link-text">Courses</span></a>
                </li>
                <li id="advisers" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/advisers" class="kt-menu__link"><span class="kt-menu__link-text">Advisers</span></a>
                </li>
                <li id="curriculum" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/curriculumitems" class="kt-menu__link"><span class="kt-menu__link-text">Curriculum</span></a>
                </li>
                <li id="users" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/users" class="kt-menu__link"><span class="kt-menu__link-text">User Management</span></a>
                </li>
            </ul>
        </div>
        break;
    case "Student":
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
            <ul class="kt-menu__nav ">
                <li id="students" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="kt-menu__link"><span class="kt-menu__link-text">Student Information</span></a>
                </li>
            </ul>
        </div>
        break;
    default:
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
            <ul class="kt-menu__nav ">
                <li id="dashboard" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <a href="/" class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></a>
                </li>
            </ul>
        </div>
        break;
}