﻿@{ 
    var currentUserRole = ViewBag.CurrentUserRole;
}

<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 7
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>USM | AAS</title>
    <meta name="description" content="University of Southern Mindanao - Academic Advisement System">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    "families": ["Poppins:300,400,500,600,700"]
                },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>*@

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    @RenderSection("styles", false)
    <!--RTL version:<link href="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="~/assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="~/assets/demo/demo5/base/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="~/assets/demo/demo5/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link href="~/Content/app.css?v=@(DateTime.Now.Ticks)" rel="stylesheet" />
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__brand">
            <a class="kt-header-mobile__logo" href="~/index.html">
                <img alt="Logo" src="~/assets/media/logos/logo-5-sm.png" />
            </a>
            <div class="kt-header-mobile__nav">
                <div class="dropdown">
                    <button type="button" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--md kt-svg-icon--success">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect id="bound" x="0" y="0" width="24" height="24" />
                                <path d="M15.9956071,6 L9,6 C7.34314575,6 6,7.34314575 6,9 L6,15.9956071 C4.70185442,15.9316381 4,15.1706419 4,13.8181818 L4,6.18181818 C4,4.76751186 4.76751186,4 6.18181818,4 L13.8181818,4 C15.1706419,4 15.9316381,4.70185442 15.9956071,6 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path d="M10.1818182,8 L17.8181818,8 C19.2324881,8 20,8.76751186 20,10.1818182 L20,17.8181818 C20,19.2324881 19.2324881,20 17.8181818,20 L10.1818182,20 C8.76751186,20 8,19.2324881 8,17.8181818 L8,10.1818182 C8,8.76751186 8.76751186,8 10.1818182,8 Z" id="Rectangle-19-Copy-3" fill="#000000" />
                            </g>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md">
                        <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20">
                            <li class="kt-nav__item">
                                <a class="kt-nav__link active" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                    <span class="kt-nav__link-text">Human Resources</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon-feed"></i></span>
                                    <span class="kt-nav__link-text">Customer Relationship</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-settings"></i></span>
                                    <span class="kt-nav__link-text">Order Processing</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-chart2"></i></span>
                                    <span class="kt-nav__link-text">Accounting</span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon-security"></i></span>
                                    <span class="kt-nav__link-text">Finance</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-cup"></i></span>
                                    <span class="kt-nav__link-text">Administration</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
                    <div class="kt-header__top">
                        <div class="kt-container">

                            <!-- begin:: Brand -->
                            <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                                <div class="kt-header__brand-logo">
                                    <a href="/">
                                        <img src="~/assets/usm seal-logo.png" />
                                    </a>
                                </div>
                                <span style="font-size: 20px; padding: 15px 0 15px 30px;">USM Academic Advisement System</span>
                                <div class="kt-header__brand-nav">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-pill btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Menu
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md">
                                            <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20">
                                                <li class="kt-nav__item">
                                                    <a class="kt-nav__link active" href="https://usm.edu.ph" target="_blank">
                                                        <span class="kt-nav__link-icon"><i class="flaticon2-architecture-and-city"></i></span>
                                                        <span class="kt-nav__link-text">USM Main Site</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a class="kt-nav__link" href="https://mis.usm.edu.ph" target="_blank">
                                                        <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                                                        <span class="kt-nav__link-text">USM MIS</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a class="kt-nav__link" href="/home/about" target="_blank">
                                                        <span class="kt-nav__link-icon"><i class="flaticon2-information"></i></span>
                                                        <span class="kt-nav__link-text">About AAS</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- end:: Brand -->
                            <!-- begin:: Header Topbar -->
                            <div class="kt-header__topbar">

                                <!--begin: Search -->
                                <div class="kt-header__topbar-item kt-header__topbar-item--search dropdown kt-hidden-desktop" id="kt_quick_search_toggle">
                                    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                                        <span class="kt-header__topbar-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--info">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect id="bound" x="0" y="0" width="24" height="24" />
                                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero" />
                                                </g>
                                            </svg>

                                            <!--<i class="flaticon2-search-1"></i>-->
                                        </span>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
                                        <div class="kt-quick-search kt-quick-search--inline" id="kt_quick_search_inline">
                                            <form method="get" class="kt-quick-search__form">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
                                                    <input type="text" class="form-control kt-quick-search__input" placeholder="Search...">
                                                    <div class="input-group-append"><span class="input-group-text"><i class="la la-close kt-quick-search__close"></i></span></div>
                                                </div>
                                            </form>
                                            <div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end: Search -->
                                <!--begin: Notifications -->
                                @*<div class="kt-header__topbar-item dropdown">
                                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                                            <span class="kt-header__topbar-icon kt-header__topbar-icon--success">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                                        <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" id="Combined-Shape" fill="#000000" />
                                                        <circle id="Oval" fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                                                    </g>
                                                </svg>

                                                <!--<i class="flaticon2-bell-alarm-symbol"></i>-->
                                            </span>
                                            <span class="kt-hidden kt-badge kt-badge--danger"></span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                                            <form>

                                                <!--begin: Head -->
                                                <div class="kt-head kt-head--skin-light kt-head--fit-x kt-head--fit-b">
                                                    <h3 class="kt-head__title">
                                                        User Notifications
                                                        &nbsp;
                                                        <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 new</span>
                                                    </h3>
                                                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Alerts</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Events</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Logs</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <!--end: Head -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                                                        <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-line-chart kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New order has been received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        2 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-box-1 kt-font-brand"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New customer is registered
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        3 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-chart2 kt-font-danger"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Application has been approved
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        3 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-image-file kt-font-warning"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New file has been uploaded
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        5 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-bar-chart kt-font-info"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New user feedback received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        8 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        System reboot has been successfully completed
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        12 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-favourite kt-font-danger"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New order has been placed
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        15 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item kt-notification__item--read">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-safe kt-font-primary"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Company meeting canceled
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        19 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-psd kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New report has been received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        23 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon-download-1 kt-font-danger"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Finance report has been generated
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        25 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon-security kt-font-warning"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New customer comment recieved
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        2 days ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-pie-chart kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New customer is registered
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        3 days ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                                        <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-psd kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New report has been received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        23 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon-download-1 kt-font-danger"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Finance report has been generated
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        25 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-line-chart kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New order has been received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        2 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-box-1 kt-font-brand"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New customer is registered
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        3 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-chart2 kt-font-danger"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Application has been approved
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        3 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-image-file kt-font-warning"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New file has been uploaded
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        5 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-bar-chart kt-font-info"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New user feedback received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        8 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        System reboot has been successfully completed
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        12 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-favourite kt-font-brand"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New order has been placed
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        15 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item kt-notification__item--read">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-safe kt-font-primary"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Company meeting canceled
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        19 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-psd kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New report has been received
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        23 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon-download-1 kt-font-danger"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        Finance report has been generated
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        25 hrs ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon-security kt-font-warning"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New customer comment recieved
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        2 days ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <a href="#" class="kt-notification__item">
                                                                <div class="kt-notification__item-icon">
                                                                    <i class="flaticon2-pie-chart kt-font-success"></i>
                                                                </div>
                                                                <div class="kt-notification__item-details">
                                                                    <div class="kt-notification__item-title">
                                                                        New customer is registered
                                                                    </div>
                                                                    <div class="kt-notification__item-time">
                                                                        3 days ago
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                                        <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
                                                            <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                                                                <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                                                    All caught up!
                                                                    <br>No new notifications.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>*@

                                <!--end: Notifications -->
                                <!--begin: User bar -->
                                <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">
                                        <span class="kt-header__topbar-welcome">Hi,</span>
                                        <span class="kt-header__topbar-username">@User.Identity.Name</span>
                                        <img class="kt-hidden-" alt="Pic" src="/assets/media/users/default.jpg">
                                        <span class="kt-header__topbar-icon kt-header__topbar-icon--brand kt-hidden"><b>S</b></span>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                                        <!--begin: Head -->
                                        <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                            <div class="kt-user-card__avatar">
                                                <img class="kt-hidden-" alt="Pic" src="~/assets/media/users/default.jpg" />

                                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                                            </div>
                                            <div class="kt-user-card__name">
                                                @User.Identity.Name
                                            </div>
                                            @*<div class="kt-user-card__badge">
                                                    <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 messages</span>
                                                </div>*@
                                        </div>

                                        <!--end: Head -->
                                        <!--begin: Navigation -->
                                        <div class="kt-notification">
                                            <a href="/manage" class="kt-notification__item">
                                                <div class="kt-notification__item-icon">
                                                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                                                </div>
                                                <div class="kt-notification__item-details">
                                                    <div class="kt-notification__item-title kt-font-bold">
                                                        My Profile
                                                    </div>
                                                    <div class="kt-notification__item-time">
                                                        Account settings and more
                                                    </div>
                                                </div>
                                            </a>
                                            @*<a href="#" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-mail kt-font-warning"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            My Messages
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            Inbox and tasks
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-rocket-1 kt-font-danger"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            My Activities
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            Logs and notifications
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-hourglass kt-font-brand"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            My Tasks
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            latest tasks and projects
                                                        </div>
                                                    </div>
                                                </a>*@
                                            @{ Html.RenderPartial("_LoginPartial"); }
                                            @*<div class="kt-notification__custom">
                                                    <a href="~/custom/user/login-v2.html" target="_blank" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
                                                </div>*@
                                        </div>

                                        <!--end: Navigation -->
                                    </div>
                                </div>

                                <!--end: User bar -->
                            </div>

                            <!-- end:: Header Topbar -->
                        </div>
                    </div>
                    <div class="kt-header__bottom">
                        <div class="kt-container">

                            <!-- begin: Header Menu -->
                            <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                            <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                                @*<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                                        <ul class="kt-menu__nav ">
                                            <li id="dashboard" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="/" class="kt-menu__link"><span class="kt-menu__link-text">Dashboard</span></a>
                                            </li>
                                            <li id="students" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="/students" class="kt-menu__link"><span class="kt-menu__link-text">Students</span></a>
                                            </li>
                                            <li id="subjects" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="/subjects" class="kt-menu__link"><span class="kt-menu__link-text">Subjects</span></a>
                                            </li>
                                            <li id="courses" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="/courses" class="kt-menu__link"><span class="kt-menu__link-text">Courses</span></a>
                                            </li>
                                            <li id="advisers" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="/advisers" class="kt-menu__link"><span class="kt-menu__link-text">Advisers</span></a>
                                            </li>
                                            <li id="curriculum" class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="/curriculumitems" class="kt-menu__link"><span class="kt-menu__link-text">Curriculum</span></a>
                                            </li>
                                        </ul>
                                    </div>*@

                                @{ Html.RenderPartial("_HeaderNav", (string)ViewBag.CurrentUserRole); }

                                <div class="kt-header-toolbar">
                                    <div class="kt-quick-search" id="kt_quick_search_default">
                                        <form method="get" class="kt-quick-search__form">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
                                                <input type="text" class="form-control kt-quick-search__input" placeholder="Search...">
                                                <div class="input-group-append"><span class="input-group-text"><i class="la la-close kt-quick-search__close"></i></span></div>
                                            </div>
                                        </form>
                                        <div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="0px,10px"></div>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
                                            <div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- end: Header Menu -->
                        </div>
                    </div>
                </div>

                <!-- end:: Header -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                    <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                            <!-- begin:: Subheader -->
                            <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                                @RenderSection("subheader", false)

                                @*<div class="kt-subheader__main">
                                        <h3 class="kt-subheader__title">
                                            Dashboard
                                        </h3>
                                        <span class="kt-subheader__separator kt-hidden"></span>
                                        <div class="kt-subheader__breadcrumbs">
                                            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                                            <span class="kt-subheader__breadcrumbs-separator"></span>
                                            <a href="" class="kt-subheader__breadcrumbs-link">
                                                Dashboards
                                            </a>
                                            <span class="kt-subheader__breadcrumbs-separator"></span>
                                            <a href="" class="kt-subheader__breadcrumbs-link">
                                                Fluid Dashboard
                                            </a>

                                            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                                        </div>
                                    </div>*@

                                @if (currentUserRole != "Student")
                                {
                                    <div class="kt-subheader__toolbar">
                                        <div class="kt-subheader__wrapper">
                                            <a href="javascript:" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker">
                                                <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
                                                <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">@DateTime.Now.AddHours(8).ToString("MMM dd")</span>

                                                <!--<i class="flaticon2-calendar-1"></i>-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                                        <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" id="check" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" id="Combined-Shape" fill="#000000" />
                                                    </g>
                                                </svg>
                                            </a>
                                            <div class="dropdown dropdown-inline">
                                                @if (ViewBag.IsUnauthorized != null)
                                                {
                                                    <input type="hidden" id="unauthorize-edit" value="@ViewBag.IsUnauthorizedEdit" />
                                                    <input type="hidden" id="unauthorize-create" value="@ViewBag.IsUnauthorizedCreate" />
                                                    <input type="hidden" id="unauthorize-delete" value="@ViewBag.IsUnauthorizedDelete" />
                                                    if (ViewBag.IsUnauthorizedCreate != null)
                                                    {
                                                        <a href="_" class="btn btn-icon unauthorized">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="_" class="btn btn-icon add-button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#app-modal" data-action="add" @ViewBag.LargeModal @ViewBag.IsUnauthorized>
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="_" class="btn btn-icon add-button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#app-modal" data-action="add" @ViewBag.LargeModal @ViewBag.IsUnauthorized>
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                            </g>
                                                        </svg>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- end:: Subheader -->
                            <!-- begin:: Content -->
                            <div class="kt-content kt-grid__item kt-grid__item--fluid">

                                <!--Begin::Dashboard 1-->

                                @RenderBody()
                                <!--End::Dashboard 1-->
                            </div>

                            <!-- end:: Content -->
                        </div>
                    </div>
                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
                    @*<div class="kt-footer__top">
                            <div class="kt-container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="kt-footer__section">
                                            <h3 class="kt-footer__title">About</h3>
                                            <div class="kt-footer__content">
                                                University of Southern Mindanao,
                                                Academic Advisement System
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="kt-footer__section">
                                            <h3 class="kt-footer__title">Quick Links</h3>
                                            <div class="kt-footer__content">
                                                <div class="kt-footer__nav">
                                                    <div class="kt-footer__nav-section">
                                                        <a href="javascript:">General Reports</a>
                                                        <a href="javascript:">Dashboart Widgets</a>
                                                        <a href="javascript:">Custom Pages</a>
                                                    </div>
                                                    <div class="kt-footer__nav-section">
                                                        <a href="javascript:">User Setting</a>
                                                        <a href="javascript:">Custom Pages</a>
                                                        <a href="javascript:">Intranet Settings</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="kt-footer__section">
                                            <h3 class="kt-footer__title">Get In Touch</h3>
                                            <div class="kt-footer__content">
                                                <form action="" class="kt-footer__subscribe">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter Your Email">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-brand" type="button">Next</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="kt-footer__bottom">
                        <div class="kt-container">
                            <div class="kt-footer__wrapper">
                                <div class="kt-footer__copyright">
                                    &copy; 2019 <a href="javascript:" target="_blank">University of Southern Mindanao</a>
                                </div>
                                <div class="kt-footer__menu">
                                    <a href="javascript:" target="_blank">About</a>
                                    <a href="javascript:" target="_blank">Privacy Policy</a>
                                    <a href="javascript:" target="_blank">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#3d94fb",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#3d94fb",
                    "warning": "#ffb822",
                    "danger": "#fd27eb"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/demo5/base/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    @*<script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>*@
    @*<script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>*@
    @*<script src="~/assets/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script>*@

    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    @*<script src="~/assets/app/custom/general/dashboard.js" type="text/javascript"></script>*@

    <!--end::Page Scripts -->
    <!--begin::Global App Bundle(used by all pages) -->
    <script src="~/assets/app/bundle/app.bundle.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
    <!--end::Global App Bundle -->
</body>

<!-- end::Body -->
</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
