﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="kt-notification__custom">
        <form action="/account/logoff" id="logoutForm" method="post">
            @Html.AntiForgeryToken()

            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
            @*<ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>*@
        </form>
    </div>
}
else
{
    <div class="kt-notification__custom">
        <a href="/account/login" class="btn btn-label-brand btn-sm btn-bold">Sign In</a>
    </div>
}
